# Cụm offline nên để "offline"; muốn public thì dán token Klei thật vào đây.
DST_CLUSTER_TOKEN=offline
DST_NETWORK_OFFLINE_CLUSTER=true
DST_NETWORK_CLUSTER_NAME="Than Binh Phu An - test"
DST_NETWORK_SERVER_PORT=11994
DST_GAMEPLAY_MAX_PLAYERS=2
DST_GAMEPLAY_PAUSE_WHEN_EMPTY=false
DST_SHARD_ENABLED=false
DST_MISC_CONSOLE_ENABLED=true
DST_SKIP_MOD_SETUP=true
DST_SKIP_GAME_UPGRADE=true
